# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Virtual environment
venv/
env/
*.egg-info/
agent-env/


# VSCode
.vscode/

# Docker
*.log
*.pid
*.db
uploads/

# OS files
.DS_Store
Thumbs.db

services/scrapper.py

